/**
 * customize color skin
 * by aviq
 */

.webix_property_label_line {
    color: #FFFFFF;
    background: #7B1FA2;
    height: 30px;
    line-height: 30px;
}
.webix_property_label, .webix_property_value {
    height: 30px;
    line-height: 30px;
}
.webix_progress_bottom .webix_progress_state,.webix_progress_top .webix_progress_state{width:0;height:6px;background:#7B1FA2;-moz-transition:width 3s;transition:width 3s}

.webix_progress_icon .webix_progress_state{font-family:FontAwesome;font-size:50px;position:absolute;left:50%;top:50%;margin-left:-25px;margin-top:-25px;display:inline-block;color:#b3b3b3}

.webix_column:first-child > div.webix_row_select {
    border-bottom: 1px solid #edf2f1;
    box-shadow: 5px 0 0 #7B1FA2 inset;
    padding-top: 0px;
    padding-left: 20px;
}
.webix_button input, .webix_popup_button div {
    font-size: 14px;
    color: #7b1fa2;
    background: 0 0;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
}
.webix_el_button.button_raised button:active,
.webix_el_button.button_raised button:hover,
.webix_el_button.button_raised input:active,
.webix_el_button.button_raised input:hover,
.webix_el_toggle.button_raised button:active,
.webix_el_toggle.button_raised button:hover,
.webix_el_toggle.button_raised input:active,
.webix_el_toggle.button_raised input:hover,
.webixbutton.button_raised button:active,
.webixbutton.button_raised button:hover,
.webixbutton.button_raised input:active,
.webixbutton.button_raised input:hover {
    color: #fff;
    background-color: #8B2AB5;
}

.webixbutton, .webixtype_base, .webixtype_next, .webixtype_prev {
    color: #7b1fa2;
    background: 0 0;
    font-weight: 700;
    font-size: 14px;
    font-family: Roboto;
    padding: 0;
    border: 0;
}
.webix_img_btn_text {
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #7b1fa2;
}
.webix_inp_counter_prev {
    padding-left: 6px;
    color: #7b1fa2;
    background: 0 0;
    font-weight: 700;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-radius: 6px 0 0 6px;
}
.webix_inp_counter_next {
    padding-left: 6px;
    color: #7b1fa2;
    background: 0 0;
    font-weight: 700;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-radius: 0 6px 6px 0;
}
.webix_view a, .webix_view a:focus, .webix_view a:visited {
    color: #7b1fa2;
    text-decoration: none;
}
.webix_view a:hover {
    color: #7b1fa2;
    text-decoration: underline;
}
.text_primary {
    color: #7b1fa2;
}
.webix_popup_button.confirm div {
    border-width: 0;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    padding: 0 12px;
    box-shadow: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    color: #fff;
    background-color: #7b1fa2;
}
.webix_popup_button.confirm div:active .webix_badge, .webix_popup_button.confirm div:hover .webix_badge {
    background-color: #fff;
    color: #7b1fa2;
}
.webix_popup_button.confirm div .webix_badge {
    background-color: #fff;
    color: #7b1fa2;
}
.webix_popup_button div {
    border-width: 0;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    color: #7b1fa2;
    background-color: transparent;
    padding: 0 12px;
    box-shadow: none;
    height: 34px;
    line-height: 34px;
}
.webix_popup_button div:active, .webix_popup_button div:hover {
    color: #7b1fa2;
    background-color: #e1bee7;
}
.webix_popup_button div:active .webix_icon_btn, .webix_popup_button div:hover .webix_icon_btn {
    color: #7b1fa2;
}
.webix_popup_button div:active .webix_badge, .webix_popup_button div:hover .webix_badge {
    background-color: #7b1fa2;
    color: #fff;
}
.webix_popup_button div .webix_icon_btn {
    color: #7b1fa2;
}
.webix_popup_button div .webix_badge {
    background-color: #e1bee7;
    color: #7b1fa2;
}
.webix_win_head {
    border: none;
    border-top: 5px solid #7b1fa2;
}
.webix_list .webix_list_item.webix_selected {
    color: #545454;
    background-color: #e6e6e6;
    box-shadow: 5px 0 #7b1fa2 inset;
}
.menu .webix_tree_item.webix_selected, .webix_menu .webix_selected {
    box-shadow: 5px 0 0 #7b1fa2 inset;
    padding-left: 19px;
}
.webix_item_tab:hover {
    color: #7b1fa2;
}
.webix_item_tab.webix_selected {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    color: #7b1fa2;
    border: none;
    border-bottom: 2px solid #7b1fa2;
    padding-bottom: 0;
}
.webix_icon_button .webix_icon {
    color: #7b1fa2;
}
.webix_el_button button, .webix_el_button input, .webix_el_toggle button, .webix_el_toggle input, .webixbutton button, .webixbutton input {
    border-width: 0;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    color: #7b1fa2;
    background-color: transparent;
    padding: 0 12px;
    box-shadow: none;
}
.webix_el_button button:active, .webix_el_button button:hover, .webix_el_button input:active, .webix_el_button input:hover, .webix_el_toggle button:active, .webix_el_toggle button:hover, .webix_el_toggle input:active, .webix_el_toggle input:hover, .webixbutton button:active, .webixbutton button:hover, .webixbutton input:active, .webixbutton input:hover {
    color: #7b1fa2;
    /*background-color: #e1bee7;*/
    background-color: #e1bee7;
}
.webix_el_button button:active .webix_icon_btn, .webix_el_button button:hover .webix_icon_btn, .webix_el_button input:active .webix_icon_btn, .webix_el_button input:hover .webix_icon_btn, .webix_el_toggle button:active .webix_icon_btn, .webix_el_toggle button:hover .webix_icon_btn, .webix_el_toggle input:active .webix_icon_btn, .webix_el_toggle input:hover .webix_icon_btn, .webixbutton button:active .webix_icon_btn, .webixbutton button:hover .webix_icon_btn, .webixbutton input:active .webix_icon_btn, .webixbutton input:hover .webix_icon_btn {
    color: #7b1fa2;
}
.webix_el_button button:active .webix_badge, .webix_el_button button:hover .webix_badge, .webix_el_button input:active .webix_badge, .webix_el_button input:hover .webix_badge, .webix_el_toggle button:active .webix_badge, .webix_el_toggle button:hover .webix_badge, .webix_el_toggle input:active .webix_badge, .webix_el_toggle input:hover .webix_badge, .webixbutton button:active .webix_badge, .webixbutton button:hover .webix_badge, .webixbutton input:active .webix_badge, .webixbutton input:hover .webix_badge {
    background-color: #7b1fa2;
    color: #fff;
}
.webix_el_button button .webix_icon_btn, .webix_el_button input .webix_icon_btn, .webix_el_toggle button .webix_icon_btn, .webix_el_toggle input .webix_icon_btn, .webixbutton button .webix_icon_btn, .webixbutton input .webix_icon_btn {
    color: #7b1fa2;
}
.webix_el_button button .webix_badge, .webix_el_button input .webix_badge, .webix_el_toggle button .webix_badge, .webix_el_toggle input .webix_badge, .webixbutton button .webix_badge, .webixbutton input .webix_badge {
    /*background-color: #e1bee7;*/
    background-color: #e1bee7;
    color: #7b1fa2;
}
.webix_el_button.button_raised button, .webix_el_button.button_raised input, .webix_el_toggle.button_raised button, .webix_el_toggle.button_raised input, .webixbutton.button_raised button, .webixbutton.button_raised input {
    border-width: 0;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    padding: 0 12px;
    box-shadow: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    color: #fff;
    background-color: #7b1fa2;
}
.webix_el_button.button_raised button:active .webix_badge, .webix_el_button.button_raised button:hover .webix_badge, .webix_el_button.button_raised input:active .webix_badge, .webix_el_button.button_raised input:hover .webix_badge, .webix_el_toggle.button_raised button:active .webix_badge, .webix_el_toggle.button_raised button:hover .webix_badge, .webix_el_toggle.button_raised input:active .webix_badge, .webix_el_toggle.button_raised input:hover .webix_badge, .webixbutton.button_raised button:active .webix_badge, .webixbutton.button_raised button:hover .webix_badge, .webixbutton.button_raised input:active .webix_badge, .webixbutton.button_raised input:hover .webix_badge {
    background-color: #fff;
    color: #7b1fa2;
}
.webix_el_button.button_raised button .webix_badge, .webix_el_button.button_raised input .webix_badge, .webix_el_toggle.button_raised button .webix_badge, .webix_el_toggle.button_raised input .webix_badge, .webixbutton.button_raised button .webix_badge, .webixbutton.button_raised input .webix_badge {
    background-color: #fff;
    color: #7b1fa2;
}
.webix_el_button.button_primary button, .webix_el_button.button_primary input, .webix_el_toggle.button_primary button, .webix_el_toggle.button_primary input, .webixbutton.button_primary button, .webixbutton.button_primary input {
    border-width: 0;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    padding: 0 12px;
    box-shadow: none;
    color: #7b1fa2;
    background-color: transparent;
}
.webix_el_button.button_primary button:active, .webix_el_button.button_primary button:hover, .webix_el_button.button_primary input:active, .webix_el_button.button_primary input:hover, .webix_el_toggle.button_primary button:active, .webix_el_toggle.button_primary button:hover, .webix_el_toggle.button_primary input:active, .webix_el_toggle.button_primary input:hover, .webixbutton.button_primary button:active, .webixbutton.button_primary button:hover, .webixbutton.button_primary input:active, .webixbutton.button_primary input:hover {
    color: #7b1fa2;
    background-color: #e1bee7;
}
.webix_el_button.button_primary button:active .webix_icon_btn, .webix_el_button.button_primary button:hover .webix_icon_btn, .webix_el_button.button_primary input:active .webix_icon_btn, .webix_el_button.button_primary input:hover .webix_icon_btn, .webix_el_toggle.button_primary button:active .webix_icon_btn, .webix_el_toggle.button_primary button:hover .webix_icon_btn, .webix_el_toggle.button_primary input:active .webix_icon_btn, .webix_el_toggle.button_primary input:hover .webix_icon_btn, .webixbutton.button_primary button:active .webix_icon_btn, .webixbutton.button_primary button:hover .webix_icon_btn, .webixbutton.button_primary input:active .webix_icon_btn, .webixbutton.button_primary input:hover .webix_icon_btn {
    color: #7b1fa2;
}
.webix_el_button.button_primary button:active .webix_badge, .webix_el_button.button_primary button:hover .webix_badge, .webix_el_button.button_primary input:active .webix_badge, .webix_el_button.button_primary input:hover .webix_badge, .webix_el_toggle.button_primary button:active .webix_badge, .webix_el_toggle.button_primary button:hover .webix_badge, .webix_el_toggle.button_primary input:active .webix_badge, .webix_el_toggle.button_primary input:hover .webix_badge, .webixbutton.button_primary button:active .webix_badge, .webixbutton.button_primary button:hover .webix_badge, .webixbutton.button_primary input:active .webix_badge, .webixbutton.button_primary input:hover .webix_badge {
    background-color: #7b1fa2;
    color: #fff;
}
.webix_el_button.button_primary button .webix_icon_btn, .webix_el_button.button_primary input .webix_icon_btn, .webix_el_toggle.button_primary button .webix_icon_btn, .webix_el_toggle.button_primary input .webix_icon_btn, .webixbutton.button_primary button .webix_icon_btn, .webixbutton.button_primary input .webix_icon_btn {
    color: #7b1fa2;
}
.webix_el_button.button_primary button .webix_badge, .webix_el_button.button_primary input .webix_badge, .webix_el_toggle.button_primary button .webix_badge, .webix_el_toggle.button_primary input .webix_badge, .webixbutton.button_primary button .webix_badge, .webixbutton.button_primary input .webix_badge {
    background-color: #e1bee7;
    color: #7b1fa2;
}
.webix_el_button.button_primary.button_raised button, .webix_el_button.button_primary.button_raised input, .webix_el_toggle.button_primary.button_raised button, .webix_el_toggle.button_primary.button_raised input, .webixbutton.button_primary.button_raised button, .webixbutton.button_primary.button_raised input {
    border-width: 0;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    padding: 0 12px;
    box-shadow: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    color: #fff;
    background-color: #7b1fa2;
}
.webix_el_button.button_primary.button_raised button:active .webix_badge, .webix_el_button.button_primary.button_raised button:hover .webix_badge, .webix_el_button.button_primary.button_raised input:active .webix_badge, .webix_el_button.button_primary.button_raised input:hover .webix_badge, .webix_el_toggle.button_primary.button_raised button:active .webix_badge, .webix_el_toggle.button_primary.button_raised button:hover .webix_badge, .webix_el_toggle.button_primary.button_raised input:active .webix_badge, .webix_el_toggle.button_primary.button_raised input:hover .webix_badge, .webixbutton.button_primary.button_raised button:active .webix_badge, .webixbutton.button_primary.button_raised button:hover .webix_badge, .webixbutton.button_primary.button_raised input:active .webix_badge, .webixbutton.button_primary.button_raised input:hover .webix_badge {
    background-color: #fff;
    color: #7b1fa2;
}
.webix_el_button.button_primary.button_raised button .webix_badge, .webix_el_button.button_primary.button_raised input .webix_badge, .webix_el_toggle.button_primary.button_raised button .webix_badge, .webix_el_toggle.button_primary.button_raised input .webix_badge, .webixbutton.button_primary.button_raised button .webix_badge, .webixbutton.button_primary.button_raised input .webix_badge {
    border-radius: 50%;
    font-size: 12px;
    height: 22px;
    min-width: 22px;
    box-sizing: border-box;
    padding: 0 4px;
    text-align: center;
    line-height: 21px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    color: #7b1fa2;
}
.action_icon .webix_icon:hover, .action_icon.webix_icon:hover {
    color: #7b1fa2;
}
.webix_icon_btn {
    color: #7b1fa2;
    vertical-align: middle;
}
.webix_view .webix_layout_form .webix_inp_static:focus, .webix_view .webix_layout_form input:focus, .webix_view .webix_layout_form select:focus {
    border-bottom-color: #7b1fa2;
}
.webix_el_radio .webix_custom_radio {
    /*display: block;*/
    /*height: 16px;*/
    /*width: 12px;*/
    border: 2px solid #878787;
    /*border-radius: 50%;*/
    /*background-color: #fff;*/
}

.webix_el_radio .webix_radio_1 .webix_custom_radio:before {
    /*content: " ";
    margin: -3px;
    border-radius: 50%;
    display: block;
    width: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 6px;*/
    background-color: #7b1fa2;
}
.webix_el_radio .webix_radio_1 .webix_custom_radio {
    border: 2px solid #7b1fa2;
    /*box-shadow: none;
    height: 16px;
    width: 12px;*/
}
.webix_custom_checkbox {
    /*float: left;
    position: relative;
    top: 50%;
    margin-top: -7px;
    height: 16px;
    width: 12px;
    border-radius: 2px;*/
    border: 2px solid #878787;
}

.webix_checkbox_1 .webix_custom_checkbox:before {
    content: "\f00c";
    color: #fff;
    font-family: FontAwesome;
    font-size: 12px;
    height: 16px;
    display: block;
    line-height: 12px;
    width: 12px;
    margin-left: 0px;
}

.webix_checkbox_1 .webix_custom_checkbox {
    border-color: #7b1fa2;
    background-color: #7b1fa2;
}
.webix_segment_0, .webix_segment_1, .webix_segment_N {
    color: #7b1fa2;
    background: #fff;
    border: none;
    border-top: 1px solid #cfddda;
    border-bottom: 1px solid #cfddda;
}
.webix_segment_0:active, .webix_segment_1:active, .webix_segment_N:active {
    color: #7b1fa2;
    background: #e1bee7;
    border: none;
}
.webix_segment_0:hover, .webix_segment_1:hover, .webix_segment_N:hover {
    color: #7b1fa2;
    background: #e1bee7;
}
.webix_segment_0.webix_selected, .webix_segment_1.webix_selected, .webix_segment_N.webix_selected {
    color: #fff;
    background: #7b1fa2;
    border: none;
}
.webix_slider_box .webix_slider_handle {
    background: #7b1fa2;
}
.webix_cal_icon, .webix_cal_icon:focus, .webix_cal_icon:visited, .webix_cal_month_name, .webix_cal_month_name:focus, .webix_cal_month_name:visited {
    color: #7b1fa2;
    text-decoration: none;
}
.webix_cal_icon:hover, .webix_cal_month_name:hover {
    color: #7b1fa2;
    text-decoration: underline;
}
.webix_cal_body .webix_cal_select span, .webix_cal_body .webix_cal_select.webix_cal_today span, .webix_cal_body .webix_selected {
    color: #fff;
    border-radius: 2px;
    background: #7b1fa2;
    height: 25px;
    width: 25px;
}
.webix_cal_body .webix_cal_today span {
    width: 23px;
    height: 23px;
    border: 1px solid #7b1fa2;
    border-radius: 2px;
}
.webix_cal_time {
    color: #7b1fa2;
    text-decoration: none;
    border-top: 1px solid #cecece;
    margin: 5px 0;
    padding-top: 5px;
    text-align: center;
}
.webix_cal_time:focus, .webix_cal_time:visited {
    color: #7b1fa2;
    text-decoration: none;
}
.webix_cal_time:hover {
    color: #7b1fa2;
    text-decoration: underline;
}
.webix_view input.webix_cal_done {
    border-width: 0;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    padding: 0 12px;
    box-shadow: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    color: #fff;
    background-color: #7b1fa2;
    height: 34px;
}
.webix_view input.webix_cal_done:active .webix_badge, .webix_view input.webix_cal_done:hover .webix_badge {
    background-color: #fff;
    color: #7b1fa2;
}
.webix_view input.webix_cal_done .webix_badge {
    background-color: #fff;
    color: #7b1fa2;
}
.webix_pager_item, .webix_pager_item_selected {
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #7b1fa2;
    box-shadow: none;
    padding: 0;
    text-shadow: none;
    border: none;
    background: 0 0;
}
.webix_pager_item:active, .webix_pager_item:hover, .webix_pager_item_selected:active, .webix_pager_item_selected:hover {
    color: #7b1fa2;
    background-color: #e1bee7;
}
.webix_pager_item:active .webix_icon_btn, .webix_pager_item:hover .webix_icon_btn, .webix_pager_item_selected:active .webix_icon_btn, .webix_pager_item_selected:hover .webix_icon_btn {
    color: #7b1fa2;
}
.webix_pager_item:active .webix_badge, .webix_pager_item:hover .webix_badge, .webix_pager_item_selected:active .webix_badge, .webix_pager_item_selected:hover .webix_badge {
    background-color: #7b1fa2;
    color: #fff;
}
.webix_pager_item .webix_icon_btn, .webix_pager_item_selected .webix_icon_btn {
    color: #7b1fa2;
}
.webix_pager_item .webix_badge, .webix_pager_item_selected .webix_badge {
    background-color: #e1bee7;
    color: #7b1fa2;
}
.webix_pager_item_selected, .webix_pager_item_selected:hover {
    border-radius: 2px;
    color: #fff;
    background-color: #7b1fa2;
}
.webix_progress_icon .webix_progress_state:before {
    content: '';
    width: 80px;
    height: 80px;
    display: block;
    fill: #7b1fa2;
    color: #7b1fa2;
    background-image: url(data:image/svg+xml;
    base64, PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJsb2FkZXItMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiICAgICB3aWR0aD0iODBweCIgaGVpZ2h0PSI4MHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUwIDUwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+ICA8cGF0aCBmaWxsPSIjMzQ5OGRiIiBkPSJNMjUuMjUxLDYuNDYxYy0xMC4zMTgsMC0xOC42ODMsOC4zNjUtMTguNjgzLDE4LjY4M2g0LjA2OGMwLTguMDcxLDYuNTQzLTE0LjYxNSwxNC42MTUtMTQuNjE1VjYuNDYxeiI+ICAgIDxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZVR5cGU9InhtbCIgICAgICBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iICAgICAgdHlwZT0icm90YXRlIiAgICAgIGZyb209IjAgMjUgMjUiICAgICAgdG89IjM2MCAyNSAyNSIgICAgICBkdXI9IjAuNnMiICAgICAgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiLz4gICAgPC9wYXRoPiAgPC9zdmc+);
}
.webix_ss_header table, .webix_ss_header td, .webix_ss_header th {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #7b1fa2;
}

.bg_primary {
    background: #e1bee7;
}
.webix_item_tab {
    font-family: Roboto;
    font-size: 14px;
    color: #b8b8b8;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    border: none;
    padding: 2px 0;
    background: 0 0;
}

/**
 * finished by aviq
 */
.webix_layout_toolbar.header {
    background-color: #7b1fa2;
}
.webix_layout_toolbar.header .webix_view {
    color: #ffffff;
}
.webix_view.logo {
    background: transparent;
}
.webix_view.logo .webix_template {
    padding: 5px;
}
.header .webix_icon_button .webix_icon {
    color: #ffffff;
}
.webix_icon_button {
    position: relative;
}
.webix_layout_toolbar.webix_toolbar .webix_el_icon .webix_icon {
    height: 100%;
    width: 100%;
    line-height: 46px;
}
.webix_icon_count {
    background-color: #e74c3c;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    height: 22px;
    min-width: 22px;
    line-height: 17px;
    box-sizing: border-box;
    -moz-box-sizing: boder-box;
    -webkit-box-sizing: boder-box;
    padding: 0 4px;
    text-align: center;
    line-height: 22px;
    position: absolute;
    right: 0;
    top: 0;
}
.header_person {
    background: transparent !important;
}
.header_person .webix_template {
    padding: 0;
    line-height: 46px;
}
.header_person .photo {
    width: 38px;
    height: 38px;
    float: left;
    margin-top: 5px;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.header_person span {
    float: left;
    padding-left: 7px;
}
.header_person .webix_icon {
    line-height: inherit;
}
.menu .webix_tree_item {
    height: 40px;
    line-height: 40px;
    color: #454545;
}
.webix_tree .webix_scroll_cont > .webix_tree_leaves {
    padding: 0;
}
.menu .webix_tree_item.webix_selected, .menu .webix_tree_item.webix_selected span {
    background-color: #f0f0f0;
    padding-right: 0;
}
.menu .webix_tree_branch_1 .webix_tree_item {
    /*padding-left: 10px;
    */

  padding-left: 24px;
    padding-right: 10px;
}
.menu .webix_tree_branch_1 > .webix_tree_item {
    /*padding: 5px 12px;
    */

  padding: 0px 0 4px 0;
    line-height: 40px;
    /*font-size: 12px;
    text-transform: uppercase;
    */

}
.menu .webix_tree_branch_1 {
    border-bottom: 1px solid #e5e5e5;
}
.menu .webix_tree_item.webix_selected span, .menu .webix_tree_item span {
    margin: 0;
    padding: 1px;
}
.menu .webix_tree_item.webix_selected span a, .menu .webix_tree_item span a {
    margin: 0;
    padding: 1px;
    color: #454545;
}
.menu_hover {
    background-color: #f0f0f0;
    padding-right: 0;
}
.menu .webix_tree_item.webix_selected .webix_icon {
    color: #454545;
}
.menu .webix_icon {
    width: 25px;
    padding-left: 0px !important;
    text-align: center;
}
.menu .dashboard .webix_icon {
    font-size: 18px;
}
.menu .webix_tree_leaves .webix_tree_leaves {
    margin-left: 0px;
}
.list_popup {
    padding-top: 8px;
}
.list_popup .webix_list_item {
    position: relative;
    line-height: 45px;
}
.list_popup .photo {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    vertical-align: super;
}
.list_popup .text {
    padding-left: 10px;
    display: inline-block;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
}
.list_popup .name {
    color: #3498db;
    font-size: 12px;
    display: block;
    font-style: italic;
    overflow: hidden;
    padding: 0 2px 0 4px;
    position: absolute;
    right: 10px;
    background: #fff;
    top: 0px;
}
.list_popup .webix_list_item:hover .name {
    background: #e6e6e6;
}
.extended_search {
    color: #3498db;
    padding: 5px 10px;
    line-height: 30px;
}
.extended_search span {
    cursor: pointer;
}
.show_all {
    background-color: #fbfbfb;
}
.show_all .webix_template {
    line-height: 30px;
    padding: 5px 10px;
}
.show_all .webix_template .webix_icon {
    line-height: 30px;
    float: right;
}
.title .webix_template {
    padding: 10px 12px;
    line-height: 29px;
}
.title .header {
    float: left;
    font-size: 18px;
}
.title .details {
    float: left;
    font-size: 13px;
    font-style: italic;
    padding-left: 10px;
}
.sub_title .webix_template {
    padding-left: 12px;
    padding-top: 14px;
}
.sub_title2 .webix_template {
    padding-top: 5px;
}
.sub_title .webix_icon {
    padding-right: 7px;
}
.sub_title2 .webix_icon {
    padding-right: 5px;
}
.tasks_list .webix_list_item:last-child {
    border-bottom: none;
}
.tasks_list .done .list_text {
    text-decoration: line-through;
}
.tasks_list .done .list_text {
    text-decoration: line-through;
}
.tasks_list .marker {
    padding: 1px 1px;
    font-size: 10px;
    border-radius: 3px;
    margin-left: 10px;
}
.tasks_list .marker.projects {
    color: #fff;
    margin-top: 7px;
    background-color: #eb6e1a;
}
.tasks_list .marker.company {
    color: #fff;
    margin-top: 7px;
    background-color: #27ae60;
}
.tasks_list .fa-square-o {
    color: #888;
}
.show_all.webix_layout_form {
    background: #FFF;
}
.chat_list .webix_list_item {
    border-color: #fff;
}
.chat_list .webix_list_item:hover {
    background: transparent;
}
.chat_list .webix_list_item:last-child {
    border-bottom: none;
}
.chat_list .name {
    color: #3498db;
    font-size: 13px;
    display: block;
    line-height: 16px;
    font-weight: 700;
}
.chat_list .photo {
    width: 42px;
    height: 42px;
    margin-top: 10px;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.chat_list .text {
    border-left: 2px solid #49cd81;
    display: block;
    background-color: #fbfbfb;
    margin-top: -55px;
    margin-left: 60px;
    padding: 10px;
    line-height: 21px;
    font-size: 14px;
}
.chat_list .time {
    display: inline-block;
    font-weight: 400;
    color: #666666;
    padding: 0 10px;
}
.chat_list .webix_list_item:nth-child(even) .text {
    text-align: right;
    border-left: none;
    border-right: 2px solid #f19b60;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 60px;
}
.chat_list .webix_list_item:nth-child(even) .photo {
    float: right;
}
.tiles {
    background-color: #f5f7f7;
}
.tiles .webix_template {
    margin-top: 8px;
    padding: 0 5px 0 5px;
}
.flex_tmp {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex_tmp .item {
    border-radius: 2px;
    position: relative;
    min-width: 150px;
    height: 105px;
    padding-top: 10px;
    margin: 11px 5.5px 0px 5.5px;
    color: #fff;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    /* Firefox 19- */

  -ms-flex: 1 auto;
    /* TWEENER - IE 10 */

  -webkit-flex: 1 auto;
    /* NEW - Chrome */

  flex: 1 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.flex_tmp .item .icon {
    padding-left: 10px;
    height: 73px;
    padding-top: 7px;
    display: block;
    width: 30%;
    font-size: 77px;
    color: rgba(255, 255, 255, 0.17);
}
.flex_tmp .item .details {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
}
.flex_tmp .item .value {
    font-size: 27px;
    text-align: right;
}
.flex_tmp .item .text {
    width: 100%;
    font-size: 18px;
    text-align: right;
}
.tiles .orders {
    background-color: #a693eb;
}
.tiles .users {
    background-color: #63b4ea;
}
.tiles .item.profit {
    background-color: #49cd81;
}
.tiles .feedbacks {
    background-color: #f19b60;
}
.flex_tmp .footer {
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.05);
}
.flex_tmp .footer .webix_icon {
    font-size: 14px;
}
.revenue_chart {
    background: #b4c6d2;
}
.revenue_chart .webix_canvas_text {
    color: #fff;
    font-size: 11px;
}
.donut_titles .webix_template {
    text-align: center;
    font-size: 13px;
}
.donut_result .webix_canvas_text {
    left: 50% !important;
    top: 50% !important;
    margin-top: -9px;
    margin-left: -7px;
}
.webix_view .defaultSimpleSkin table.mceLayout {
    border: none;
}
/*ckeditor*/
.webix_view .cke_reset {
    border-color: #ccc;
}
.webix_view .cke_top {
    background: #fafafa;
    background-image: none;
    border-color: #ddd;
}
.webix_view .cke_toolgroup {
    background: #fafafa;
    background-image: none;
    border-color: #ccc;
}
.webix_view .cke_button:hover {
    background: #f4f4f4;
    background-image: none;
}
.webix_view .cke_button_on {
    background: #ddd;
}
.webix_view .cke_button_on.cke_button:hover {
    background: #ddd;
}
.rating_bar_element {
    background-image: url(stars.gif);
    width: 80px;
    height: 16px;
    margin-top: 7px;
    position: relative;
}
.rating_bar_element.star1 {
    background-position: 0 -16px;
}
.rating_bar_element.star2 {
    background-position: 0 -32px;
}
.rating_bar_element.star3 {
    background-position: 0 -48px;
}
.rating_bar_element.star4 {
    background-position: 0 -64px;
}
.rating_bar_element.star5 {
    background-position: 0 -80px;
}
.rating_star:hover {
    z-index: 2;
    position: absolute;
    width: 80px;
    height: 16px;
    overflow: hidden;
    left: 0px !important;
    background-image: url(stars.gif);
}
.rating_star.star1:hover {
    background-position: 0 -96px;
}
.rating_star.star2:hover {
    background-position: 0 -112px;
}
.rating_star.star3:hover {
    background-position: 0 -128px;
}
.rating_star.star4:hover {
    background-position: 0 -144px;
}
.rating_star.star5:hover {
    background-position: 0 -160px;
}
.rating_star {
    z-index: 3;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0px;
    float: left;
    cursor: pointer;
}
.webix_view.webix_pager {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.progress_bar_element {
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 100%;
    height: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
    float: left;
    overflow: hidden;
    cursor: pointer;
}
.progress_result {
    height: 100%;
    float: left;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    background: #eb6e1a;
}
.progress_result.inner {
    background: #a693eb;
}
.progress_result.company {
    background: #49cd81;
}
.webix_view .dhx_scale_holder_now {
    background-image: url(imgs/databg.png);
}
.webix_view .dhx_now .dhx_month_head {
    background-color: #fff8c4;
}
.webix_view .dhx_now .dhx_month_body {
    background-color: #fff8c4;
}
.webix_view .dhx_cal_tab.active {
    background-color: #f0f5f9;
    box-shadow: inset 0 2px #eee;
    -webkit-box-shadow: inset 0 2px #eee;
}
.webix_view .dhx_cal_event_line {
    background-color: #63b4ea;
}
.webix_view .dhx_cal_event_line.other {
    background-color: #27ae60;
}
.dhx_cal_event .dhx_header, .dhx_cal_event .dhx_footer, .dhx_cal_event .dhx_body, .dhx_cal_event .dhx_title {
    background-color: #63b4ea !important;
}
.dhx_cal_event_clear.other {
    color: #1c6d3e;
}
.other.dhx_cal_event .dhx_header, .other.dhx_cal_event .dhx_footer, .other.dhx_cal_event .dhx_body, .other.dhx_cal_event .dhx_title {
    background-color: #27ae60 !important;
}
.calendar_icon {
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 4px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    background: #63b4ea;
    border: 1px solid #63b4ea;
}
.calendar_icon.company {
    background: #27ae60;
    border-color: #27ae60;
}
.webix_view .dhx_cal_navline .dhx_cal_date {
    font-size: 15px;
}
.calendar_list .webix_list_item, .calendar_list .webix_list_item:hover {
    border-bottom-color: #fff;
    padding-left: 2px;
    padding-right: 2px;
    background: transparent;
}
.calendar_list .disabled .calendar_icon {
    background: #fff;
    border-color: #ddd;
}
.calendar_list .disabled.webix_list_item {
    color: #aaa;
}
.sub_title2 {
    background: transparent !important;
}
.highlighted_header.header1 {
    background-color: #a693eb !important;
}
.webix_toolbar.highlighted_header .webix_template {
    color: #fff !important;
}
.webix_toolbar.highlighted_header .webix_template .webix_icon {
    color: #fff !important;
}
.highlighted_header.header2 {
    background-color: #f19b60 !important;
}
.highlighted_header.header3 {
    background-color: #63b4ea !important;
}
.highlighted_header.header4 {
    background-color: #5f5f5f !important;
}
.highlighted_header.header5 {
    background-color: #a4b4bf !important;
}
.highlighted_header.header6 {
    background-color: #fbfbfb !important;
}
.highlighted_header .webix_el_icon .webix_icon {
    font-size: 17px;
}
.webix_dtable .status {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
}
.status0 {
    background-color: #eb6e1a;
}
.status1 {
    background-color: #27ae60;
}
.status2 {
    background-color: #a693eb;
}
.webix_list .marker {
    float: left;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 5px;
}
.product_image_action {
    cursor: pointer;
}
.product_image.webix_icon {
    color: #aaa;
    width: 100%;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
}
.webix_el_button.upload_icon .webix_icon_btn {
    font-size: 18px;
}
.webix_tree.file .folder_title {
    float: left;
    padding: 0 6px 0 3px;
    width: auto;
}
.webix_tree.file .webix_selected .folder_title {
    background-color: #3498db;
    color: #FFF;
}
.webix_tree.file .webix_selected .folder_title .icon {
    background-color: #3498db;
    color: #fff;
}
.webix_tree.file .folder_title .icon {
    margin-left: 0;
    color: #63b4ea;
    padding-left: 4px;
    padding-right: 4px;
}
.webix_tree.file .icon {
    padding-right: 0;
}
.webix_tree.file .webix_tree_branch_1 {
    padding: 7px;
}
.webix_tree.file .webix_tree_item {
    padding: 1px 0;
}
.webix_dataview_item.files {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    border-color: #fff;
    border-right-color: #fff;
    margin: 5px;
}
.webix_dataview_item.files .webix_icon {
    padding-top: 10px;
    width: 30px;
    padding-bottom: 5px;
    font-size: 30px;
}
.webix_dataview_item.files.webix_selected .webix_icon {
    color: #fff !important;
}
.webix_dataview_item.files .folder .webix_icon {
    color: #63b4ea;
}
.webix_dataview_item.files .pp .webix_icon {
    color: #eb6e1a;
}
.webix_dataview_item.files .ex .webix_icon {
    color: #27ae60;
}
.webix_dataview_item.files .doc .webix_icon {
    color: #63b4ea;
}
.webix_dataview_item.files .img .webix_icon {
    color: #eb6e1a;
}
.webix_dataview_item.files .video .webix_icon {
    color: #a693eb;
}
.slider1 .webix_slider_left {
    background-color: #eb6e1a;
}
.slider2 .webix_slider_left {
    background-color: #27ae60;
}
.slider3 .webix_slider_left {
    background-color: #a693eb;
}
.center {
    text-align: center;
}
/*===========================*/
.bg_gray {
    background-color: #F9F9F9;
}
::-webkit-scrollbar {
    height: 6px;
    overflow: visible;
    width: 12px;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
}
::-webkit-scrollbar-track:horizontal {
    border-width: 0px 0 0;
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset 1px -1px 0 rgba(0, 0, 0, .14), inset -1px 1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset -1px 1px 0 rgba(0, 0, 0, .14), inset 1px -1px 0 rgba(0, 0, 0, .07)
}
::-webkit-scrollbar-track:vertical:hover {
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07)
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid transparent;
    min-height: 28px;
    padding: 100px 0 0;
    border-radius: 10px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07)
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25)
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 0px 0 0;
    padding: 0 0 0 100px;
    box-shadow: inset -1px 1px 0 rgba(0, 0, 0, .1), inset 1px -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, .5);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35)
}
::-webkit-scrollbar-corner {
    background: transparent;
}
body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 0 0 0 3px;
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
}
body::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
}
body::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-width: 1px 1px 1px 5px;
}
body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px;
}
body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14);
}
.whiteBox, .greyBox {
    padding: 16px 0;
    margin-bottom: 16px;
}
.greyBox {
    background: #f1f1f1;
}
.kd-ruledBox {
    width: 100%}
.kd-greyRuled {
    border-top: 1px solid #e5e5e5;
}
.kd-whiteRuled {
    border-top: 1px solid #ebebeb;
}
#openid-icon {
    background: no-repeat url("data:image/gif;
    base64, R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==") -36px -70px;
    width: 16px;
    height: 16px;
}
#lj-icon {
    background: no-repeat url("data:image/gif;
    base64, R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==") -45px -165px;
    width: 16px;
    height: 16px;
}
#wp-icon {
    background: no-repeat url("data:image/gif;
    base64, R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==") -16px -101px;
    width: 16px;
    height: 16px;
}
#typekey-icon {
    background: no-repeat url("data:image/gif;
    base64, R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==") 0 -101px;
    width: 16px;
    height: 16px;
}
#aol-icon {
    background: no-repeat url("data:image/gif;
    base64, R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==") -45px -133px;
    width: 16px;
    height: 16px;
}
.icon_delete {
    background: no-repeat url("data:image/gif;
    base64, R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==") -32px -101px;
    width: 13px;
    height: 13px;
}
.errormsg {
    text-align: left;
    background: url("data:image/gif;
    base64, R0lGODlhEAAPAMQfAP+tHgAAAC4tLR4eHkRDQ//0kIB/f7q3rf/LU/rvsF9eXvr49f/mdv/WZ0I+MtrU0v/Xid++U8+hN7+/j//9w5OQjt/di7+wW/+7OIB/S6+WQhAPDc/PqMC+vSAbC+7n5SH5BAEAAB8ALAAAAAAQAA8AAAWB4CeORCA8Y5oegRIYauw4lBOgsVgFU8EFhJxo4LBkLK5DbjfJBC6JzSBHpDgvjB0stTsULs9GQrDBDQmUbyCCQLAUo12nwGA42hiIqzOk1TUeEhiDCxsOH3J0DBobggAAEAYBFQMCCwl1EA1tCHkLAwMBAwakpaakGyYBq6ytrQIhADs=") no-repeat left top;
    padding-left: 24px;
    margin-top: 5px;
    color: #c00;
}
#openIdUrlPreviewFade {
    background: url(data:image/gif;
    base64, R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==) 0 0 repeat-y;
    position: absolute;
    right: .5em;
    width: 32px;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/openid-preview-fade.png', sizingMethod='scale', height='100px')";
    _background-image: none;
    z-index: 1000;
}
#comments-block dt {
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: .25em;
    white-space: nowrap;
    cursor: pointer;
}
#comments-block dt.collapsed {
    border-bottom: 1px solid #ccc;
}
#comments-block dd {
    margin: 0 0 .75em;
    line-height: 140%;
    border-bottom: 1px solid #ccc;
}
#comments-block dd.collapsed {
    display: none;
}
.profile-image-container {
    float: right;
    margin: .4em 0 .2em .8em;
    position: relative;
    z-index: 2;
}
img.profile {
    padding: .2em;
    border: 1px solid #bbb;
}
.status-msg-outer {
    position: relative;
    margin: 33px auto 0 auto;
    z-index: 100;
    text-align: center;
}
.status-msg {
    visibility: hidden;
    padding: 6px 16px;
    background: #f9edbe;
    border: 1px solid #f0c36d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    -webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    -o-transform: scale(.2);
    transform: scale(.2);
    -webkit-transition: opacity 1s, -webkit-transform 0 linear 1s, left 0 linear 1s;
    -moz-transition: opacity .13s;
    -o-transition: opacity .13s;
    transition: opacity .13s;
}
.status-msg.status-msg-yellow-on-white {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scal(1);
    transform: scale(1);
    -webkit-transition: all .13s, left 0 linear 0;
    -moz-transition: all .218s;
    -o-transition: all .218s;
}
.status-msg span {
    margin: 0;
    line-height: 29px;
    font-size: 11px;
}
.status-msg a {
    color: #333;
    text-decoration: underline;
}
.kd-butterbar a:hover {
    color: #202020;
}
.kd-butterbar.mini {
    margin-bottom: -5px;
}
.kd-modaldialog.visible {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.kd-modaldialog {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    background: #fff;
    left: 50%;
    border: 1px solid #ccc;
    padding: 30px 42px;
    position: fixed;
    right: auto;
    width: 512px;
    height: auto;
    overflow: hidden;
    z-index: 100;
    top: 72px;
    margin-left: -256px;
    opacity: 0;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all .218s;
    -moz-transition: all .218s;
    transition: all .218s;
}
.kd-modaldialog.medium {
    padding: 28px 32px;
    width: 384px;
}
.kd-modaldialog.small {
    padding: 16px 20px;
    width: 256px;
}
.kd-modaldialog h1 {
    margin-bottom: 1em;
}
.kd-errormessage {
    color: #dd4b39;
    padding: 9px 0;
}
textarea.kd-formerror {
    border: 1px solid #dd4b39;
}
.webix_list .marker {
    float: left;
    height: 10px;
    width: 10px;
    border-radius: 50% !important;
    margin-top: 10px;
    margin-right: 5px;
}
/*ekonomi*/
.prodi_61201 {
    background-color: #eb6e1a;
}
/*akuntansi*/
.prodi_62201 {
    background-color: #7B57FF;
}
.img-thumbnail {
    width: 120px;
    height: 180px;
}


/*login form*/
.invalid_login .webix_header > div{
    background: #FC3636;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}
@-webkit-keyframes formshake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}
